.pps4a{
    color: #5f1861;
	background-color: #5f1861;
 }

 .pps4b{
	color: #73ccd8;
	background-color: #73ccd8;
 }

.chat-view {
	.messages {
	  width: 92%;
	  position: absolute;
	  .message {
		width: 70%;
		padding: 5px 10px;
		background: #F3E6E9;
		color: #222;
		border-radius: 20px;
		margin: 5px;
		float: left;
		font-family: "Times New Roman", Times, serif;
	  }
	  .message.me {
		float: right;
		background: #63D9FD;
		border: 1px solid #FBFBFC;
		color: #222;
		text-align: left;
		font-family: "Times New Roman", Times, serif;
	  }
	}
	}