<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="volver()">
        <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button style="height: 50%;font-size:45px; background-color: #18611c" fill="outline" expand="full"
    (click)="redirectAula('PPS4A')" color="success">
    <ion-icon name="sad"></ion-icon>
    PPS-4A
  </ion-button>

  <ion-button style="height: 50%;font-size:45px; background-color: #73ccd8" fill="outline" expand="full"
    (click)="redirectAulaB('PPS4B')" color="tertiary">
    <ion-icon name="happy"></ion-icon>
    PPS-4B
  </ion-button>

</ion-content>