

.form {
    padding: 5vw
}

.avatar{
    margin: auto;   
 }

 .avatar-img{
    margin: auto;
    width: 120px;
    height: 120px;
 }
.inputs {
    margin-bottom: 5vw
}

.inputs-2 {
    margin-bottom: 5vw
}

.btn {
    background-color: white; 
    color: black; 
}

.btn:hover {
    background-color: #008CBA;
    color: white;
}

.font-style {
    font: oblique bold 120% cursive;
}

.top {
    margin-bottom: 10px;
}

.btn-style {
    font: oblique bold 120% cursive;
}

.btn-style-admin {
    font: oblique bold 120% cursive;
    color: #F79F81;
    border: #F79F81
}

.btn-style-i {
    font: oblique bold 120% cursive;
    color: #BCF5A9;
    border: #F79F81
}

.btn-style-u {
    font: oblique bold 120% cursive;
    color: #FA58D0;
    border: #F79F81
}

.btn-style-an {
    font: oblique bold 120% cursive;
    color: #2E2E2E;
    border: #F79F81
}

.btn-style-t {
    font: oblique bold 120% cursive;
    color: #FE2E2E;
    border: #F79F81
}

